{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}

  <!-- Discord Specific Overrides -->
  <meta name="theme-color" content="#407EB0"/>

  <!-- Standard Open Graph Requirements -->
  <meta property="og:title" content="{{ title }}"/>

  {% if page and page.meta and page.meta.og_image %}
    <meta property="og:image" content="{{ config.site_url }}/img/{{ page.meta.og_image }}" />
  {% else %}
    <meta property="og:image" content="{{ config.site_url }}/img/default_open_graph.webp" />
  {% endif %}

  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}"/>
  {% else %}
    <meta property="og:description" content="{{ config.site_description }}"/>
  {% endif %}

  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ page.canonical_url }}"/>


{% endblock %}
